* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(../images/yellow_top_wave_01.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  z-index: 5;
}

.header-fixed1 {
  font-size: 13px;
}
.header-fixed1 img {
  width: 80px;
  height: auto;
}
.header-fixed1 .contact_part {
  float: right;
}
.header-fixed1 .contact_part .contact_btn {
  float: left;
  padding: 1.9rem 0rem;
}
.header-fixed1 .contact_part .contact_btn a {
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  border: 2px solid #b61984;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.header-fixed1 .contact_part .contact_btn a:hover {
  box-shadow: 0 0 0 0 #b61984 inset;
  color: #b61984;
}
.header-fixed1 .contact_part .icon {
  float: left;
  padding: 1.9rem 0rem;
}
.header-fixed1 .contact_part .icon a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}
.header-fixed1 .contact_part .icon a:hover {
  color: #b61984;
}
.header-fixed1 .link {
  float: right;
  position: relative;
}
.header-fixed1 .link ul {
  margin: 0;
  padding: 0;
}
.header-fixed1 .link ul li {
  padding-right: 50px;
  font-weight: 600;
  float: left;
  list-style-type: none;
  position: relative;
}
.header-fixed1 .link ul li #visible_dot {
  color: black;
  display: block;
  padding: 2rem 0rem;
  position: relative;
  transition: 0.3s;
}
.header-fixed1 .link ul li #visible_dot:hover {
  color: #b61984;
}
.header-fixed1 .link ul li #visible_dot::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -5px;
  left: 40%;
  transition: all 0.3s;
}
.header-fixed1 .link ul li #visible_dot:hover::after {
  transform: scale(150%);
}
.header-fixed1 .link .hidden_dot_1 {
  color: black;
  display: block;
  padding: 2rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
}
.header-fixed1 .link .hidden_dot_1:hover {
  color: #b61984;
}
.header-fixed1 .link .hidden_dot_1::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -7px;
  left: 40%;
  transform: scale(0);
  transition: all 0.3s;
}
.header-fixed1 .link .hidden_dot_1:hover::after {
  transform: scale(100%);
}
.header-fixed1 #home_content {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  position: absolute;
  left: -385%;
  top: 100%;
  font-size: 12px;
  z-index: 1;
}
.header-fixed1 #home_content ul {
  z-index: 2;
  width: 230px;
}
.header-fixed1 #home_content ul li {
  padding: 0;
}
.header-fixed1 #home_content ul li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
}
.header-fixed1 #home_content ul li a:hover {
  color: #b61984;
}
.header-fixed1 #home_content ul hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #home_content ul #special_hr {
  background-color: #b61984;
}
.header-fixed1 #about_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #about_content li {
  padding: 0;
}
.header-fixed1 #about_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #about_content li a:hover {
  color: #b61984;
}
.header-fixed1 #about_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #about_content #highlight {
  color: #b61984;
}
.header-fixed1 #courses_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #courses_content li {
  padding: 0;
}
.header-fixed1 #courses_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #courses_content li a:hover {
  color: #b61984;
}
.header-fixed1 #courses_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #blog_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #blog_content li {
  padding: 0;
}
.header-fixed1 #blog_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #blog_content li a:hover {
  color: #b61984;
}
.header-fixed1 #blog_content hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}
.header-fixed1 #blog_content #single_post {
  position: relative;
  padding: 10px;
}
.header-fixed1 #blog_content #single_post::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #b61984;
  position: absolute;
  bottom: 30%;
  left: 90%;
}
.header-fixed1 #blog_content #gallery_post {
  position: relative;
}
.header-fixed1 #blog_content #gallery_post::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #b61984;
  position: absolute;
  bottom: 30%;
  left: 90%;
}
.header-fixed1 #blog_content #single_post_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #blog_content #single_post_content li {
  padding: 0;
}
.header-fixed1 #blog_content #single_post_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #blog_content #single_post_content li a:hover {
  color: #b61984;
}
.header-fixed1 #blog_content #single_post_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #blog_content #gallery_post_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #blog_content #gallery_post_content li {
  padding: 0;
}
.header-fixed1 #blog_content #gallery_post_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #blog_content #gallery_post_content li a:hover {
  color: #b61984;
}
.header-fixed1 #blog_content #gallery_post_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #shop_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 100%;
  left: -100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed1 #shop_content li {
  padding: 0;
}
.header-fixed1 #shop_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #shop_content li a:hover {
  color: #b61984;
}
.header-fixed1 #shop_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #element_content {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  position: absolute;
  left: -311%;
  top: 100%;
  font-size: 12px;
  z-index: 1;
}
.header-fixed1 #element_content ul {
  width: 230px;
  text-align: right;
}
.header-fixed1 #element_content ul li {
  padding: 0;
}
.header-fixed1 #element_content ul li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed1 #element_content ul li a:hover {
  color: #b61984;
}
.header-fixed1 #element_content ul hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed1 #element_content ul #special_hr {
  background-color: #b61984;
}

@media (min-width: 1200px) {
  #header #global-nav {
    visibility: visible !important;
  }
  #header #global-nav .container {
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.navbar {
  padding: 0;
}

.animation_1 {
  animation: zoomIn 0.4s forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(80%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
.animation_2 {
  pointer-events: none;
  animation: zoomOut 0.4s forwards;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    transform: scale(80%);
  }
}
.remain_visible_dot_size::after {
  z-index: 2;
  transform: scale(150%);
}

.hidden_dot_2 {
  color: black;
  display: block;
  padding: 2rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
}
.hidden_dot_2:hover {
  color: #b61984;
}
.hidden_dot_2::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -7px;
  left: 40%;
  transform: scale(100%);
  transition: all 0.3s;
}
.hidden_dot_2:hover::after {
  transform: scale(100%);
}

.hidden_dot_3 {
  color: black;
  display: block;
  padding: 0.9rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
}
.hidden_dot_3:hover {
  color: #b61984;
}
.hidden_dot_3::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -7px;
  left: 40%;
  transform: scale(100%);
  transition: all 0.3s;
}
.hidden_dot_3:hover::after {
  transform: scale(100%);
}

.header-fixed2 {
  width: 100%;
  font-size: 13px;
}
.header-fixed2 img {
  display: none;
}
.header-fixed2 .contact_part {
  float: right;
}
.header-fixed2 .contact_part .contact_btn {
  float: left;
  padding: 0.9rem 0rem;
}
.header-fixed2 .contact_part .contact_btn a {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: 2px solid #b61984;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.header-fixed2 .contact_part .contact_btn a:hover {
  box-shadow: 0 0 0 0 #b61984 inset;
  color: #b61984;
}
.header-fixed2 .contact_part .icon {
  float: left;
  padding: 0.9rem 0rem;
}
.header-fixed2 .contact_part .icon a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}
.header-fixed2 .contact_part .icon a:hover {
  color: #b61984;
}
.header-fixed2 .link {
  float: right;
  position: relative;
}
.header-fixed2 .link ul {
  margin: 0;
  padding: 0;
}
.header-fixed2 .link ul li {
  padding-right: 50px;
  font-weight: 600;
  float: left;
  list-style-type: none;
  position: relative;
}
.header-fixed2 .link ul li #visible_dot {
  color: black;
  display: block;
  padding: 0.9rem 0rem;
  position: relative;
  transition: 0.3s;
}
.header-fixed2 .link ul li #visible_dot:hover {
  color: #b61984;
}
.header-fixed2 .link ul li #visible_dot::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -5px;
  left: 40%;
  transition: all 0.3s;
}
.header-fixed2 .link ul li #visible_dot:hover::after {
  transform: scale(150%);
}
.header-fixed2 .link .hidden_dot_1 {
  color: black;
  display: block;
  padding: 0.9rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
}
.header-fixed2 .link .hidden_dot_1:hover {
  color: #b61984;
}
.header-fixed2 .link .hidden_dot_1::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -7px;
  left: 40%;
  transform: scale(0);
  transition: all 0.3s;
}
.header-fixed2 .link .hidden_dot_1:hover::after {
  transform: scale(100%);
}
.header-fixed2 #home_content {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  position: absolute;
  left: -385%;
  top: 100%;
  font-size: 12px;
  z-index: 1;
}
.header-fixed2 #home_content ul {
  z-index: 2;
  width: 230px;
}
.header-fixed2 #home_content ul li {
  padding: 0;
}
.header-fixed2 #home_content ul li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
}
.header-fixed2 #home_content ul li a:hover {
  color: #b61984;
}
.header-fixed2 #home_content ul hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #home_content ul #special_hr {
  background-color: #b61984;
}
.header-fixed2 #about_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #about_content li {
  padding: 0;
}
.header-fixed2 #about_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #about_content li a:hover {
  color: #b61984;
}
.header-fixed2 #about_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #about_content #highlight {
  color: #b61984;
}
.header-fixed2 #courses_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #courses_content li {
  padding: 0;
}
.header-fixed2 #courses_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #courses_content li a:hover {
  color: #b61984;
}
.header-fixed2 #courses_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #blog_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #blog_content li {
  padding: 0;
}
.header-fixed2 #blog_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #blog_content li a:hover {
  color: #b61984;
}
.header-fixed2 #blog_content hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}
.header-fixed2 #blog_content #single_post {
  position: relative;
  padding: 10px;
}
.header-fixed2 #blog_content #single_post::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #b61984;
  position: absolute;
  bottom: 30%;
  left: 90%;
}
.header-fixed2 #blog_content #gallery_post {
  position: relative;
}
.header-fixed2 #blog_content #gallery_post::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #b61984;
  position: absolute;
  bottom: 30%;
  left: 90%;
}
.header-fixed2 #blog_content #single_post_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #blog_content #single_post_content li {
  padding: 0;
}
.header-fixed2 #blog_content #single_post_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #blog_content #single_post_content li a:hover {
  color: #b61984;
}
.header-fixed2 #blog_content #single_post_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #blog_content #gallery_post_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #blog_content #gallery_post_content li {
  padding: 0;
}
.header-fixed2 #blog_content #gallery_post_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #blog_content #gallery_post_content li a:hover {
  color: #b61984;
}
.header-fixed2 #blog_content #gallery_post_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #shop_content {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 100%;
  left: -100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-fixed2 #shop_content li {
  padding: 0;
}
.header-fixed2 #shop_content li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #shop_content li a:hover {
  color: #b61984;
}
.header-fixed2 #shop_content hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #element_content {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
  position: absolute;
  left: -311%;
  top: 100%;
  font-size: 12px;
  z-index: 1;
}
.header-fixed2 #element_content ul {
  width: 230px;
  text-align: right;
}
.header-fixed2 #element_content ul li {
  padding: 0;
}
.header-fixed2 #element_content ul li a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.header-fixed2 #element_content ul li a:hover {
  color: #b61984;
}
.header-fixed2 #element_content ul hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header-fixed2 #element_content ul #special_hr {
  background-color: #b61984;
}

.header_animation_1 {
  animation: move 1s ease-out -0.5s;
}

.header_animation_2 {
  animation: move2 1s ease-out -0.5s;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
}

@keyframes move {
  0% {
    transform: translateY(-83.5px);
  }
  80% {
    transform: translateY(-83.5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move2 {
  0% {
    transform: translateY(-52.3px);
  }
  80% {
    transform: translateY(-52.3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 1200px) {
  header {
    display: none;
  }
}
.about_us {
  background-image: url(../images/Violet_top_left_wave.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40px;
}
.about_us .row {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.about_us .row .col-xl-6 {
  z-index: -1;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.about_us .row img {
  width: 100%;
  z-index: -1;
}
.about_us .row h2 {
  font-size: 1.05rem;
  margin-bottom: 0.5em;
  color: #b61984;
  font-weight: 600;
}
.about_us .row p {
  font-size: 57px;
  color: #191919;
  font-weight: 700;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .about_us .container {
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .about_us .container {
    padding-top: 10px;
  }
}
@media (max-width: 1200px) {
  .about_us .row p {
    font-size: 40px;
  }
}
.grid {
  padding-top: 10px;
  background-color: #dcd1f0;
  background-image: url(../images/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.grid .container .row .column-container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}
.grid .container .row .column-container .card_container {
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: white;
  overflow: hidden;
  transition: all 0.5s;
}
.grid .container .row .column-container .card_container:hover {
  box-shadow: -2px 29px 42px 2px rgba(0, 0, 0, 0.209);
}
.grid .container .row .column-container .card_container img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 102%;
  transition: all 0.5s;
}
.grid .container .row .column-container .card_container img:hover {
  transform: scale(105%);
}
.grid .container .row .column-container .card_container p:first-of-type {
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 25px;
  margin-bottom: 0.7em;
  color: #b61984;
}
.grid .container .row .column-container .card_container p:nth-of-type(2) {
  font-weight: 700;
  font-size: 23.25px;
}
.grid .container .row .column-container .card_container p:nth-of-type(3) {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8em;
}

@media (min-width: 1200px) {
  .grid .container {
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.request {
  background-image: url(../images/accent_bottom_wave_01.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.request .request_container .row {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request .request_container .row .img {
  padding-left: 40px;
  padding-right: 40px;
}
.request .request_container .row .img img {
  width: 100%;
}
.request .request_container .row .form_container .form_container_content {
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: -2px 29px 42px 2px rgba(0, 0, 0, 0.209);
  text-align: center;
  color: #b61984;
  font-size: 13px;
}
.request .request_container .row .form_container .form_container_content h2 {
  font-size: 36px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #191919;
  margin-bottom: 50px;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information {
  justify-content: space-between;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .name {
  width: 45%;
  position: relative;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .name
  .input {
  width: 80%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .name
  .input
  input {
  width: 100%;
  background-color: transparent;
  margin-left: 10px;
  border: none;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .name
  .input
  input:focus-visible {
  outline: 0;
  border: 0;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .name
  .input
  input::placeholder {
  font-size: 0.9em !important;
  font-weight: 500;
  color: black;
  opacity: 0.6;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email {
  position: relative;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email
  .input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email
  .input
  input {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  opacity: 0.8;
  font-weight: 500;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email
  .input
  input:focus-within {
  outline-width: 0;
  color: black;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email
  .input
  input:focus-visible {
  outline: 0;
  border: 0;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .form_information
  .email
  .input
  input::placeholder {
  font-size: 0.9em !important;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 20px 0px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0px 8px 10px;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .select
  select {
  width: 100%;
  background-color: transparent;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.9em !important;
  font-weight: 500;
  color: black;
  opacity: 0.6;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .select
  select:focus-visible {
  outline: 0;
  border: 0;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .message {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px 0px 10px;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .message
  .text_area {
  width: 85%;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .message
  .text_area
  textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  margin-left: 10px;
  border-width: 0;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .message
  .text_area
  textarea:focus-visible {
  outline: 0;
  border: 0;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .message
  .text_area
  textarea::placeholder {
  font-size: 0.9em !important;
  font-weight: 500;
  color: black;
  opacity: 0.6;
}
.request .request_container .row .form_container .form_container_content .btnn {
  float: left;
  margin: 40px 0px;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .btnn
  button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  padding: 14px 55px;
  border-radius: 50px;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: white;
  border: 1px solid #b61984;
  transition: all 0.5s;
}
.request
  .request_container
  .row
  .form_container
  .form_container_content
  .btnn
  button:hover {
  box-shadow: 0 0 0 0 #b61984 inset;
  background-color: white;
  color: #b61984;
}

@media (min-width: 992px) {
  .request .request_container .row {
    width: 1000px;
  }
}
@media (max-width: 991.98px) {
  .request .row .img {
    padding-bottom: 20px;
  }
  .request .row .img .img-container img {
    width: 85%;
  }
  .request .row .form_container .form_container_content {
    text-align: left !important;
  }
  .request .row .form_container .form_container_content h2 {
    font-size: 32px !important;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .name {
    width: 45%;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .name
    .input {
    width: 85%;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .name
    .input
    input {
    width: 100%;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .email {
    width: 45%;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .email
    .input {
    width: 85%;
  }
  .request
    .row
    .form_container
    .form_container_content
    .form_information
    .email
    .input
    input {
    width: 100%;
  }
}
.h2_css,
footer .row .contact_us h2,
footer .row .quick_links h2,
footer .row .about h2,
footer .row .newslletter h2 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.span_css,
footer .row .contact_us .address .address_content span,
footer .row .contact_us .phone .phone_number span,
footer .row .contact_us .worktime .worktime_content span,
footer .row .quick_links ul li a,
footer .row .about ul li a {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 2.5;
}

.icon_css,
footer .row .contact_us .address .icon,
footer .row .contact_us .phone .icon,
footer .row .contact_us .worktime .icon {
  font-size: 15px;
}

footer {
  padding-top: 120px;
  padding-bottom: 165px;
  background-image: url(../images/footer_background.jpg);
  background-size: cover;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #aa017e;
}
footer .row {
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
footer .row .contact_us {
  color: white;
}
footer .row .contact_us .social_media {
  margin-top: 20px;
}
footer .row .contact_us .social_media .icon a {
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}
footer .row .contact_us .social_media .icon a:hover {
  color: black;
}
footer .row .quick_links {
  color: white;
}
footer .row .quick_links ul li {
  list-style-type: none;
}
footer .row .quick_links ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
footer .row .quick_links ul li a:hover {
  opacity: 0.8;
}
footer .row .about {
  color: white;
}
footer .row .about ul li {
  list-style-type: none;
}
footer .row .about ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
footer .row .about ul li a:hover {
  opacity: 0.8;
}
footer .row .newslletter {
  padding-left: 50px;
  color: white;
}
footer .row .newslletter .two_btn input {
  width: 240px;
  height: 48px;
  margin-bottom: 15px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  font-size: 13.5px;
  font-weight: 500;
}
footer .row .newslletter .two_btn input::placeholder {
  color: white;
}
footer .row .newslletter .two_btn input:focus-visible {
  border: transparent;
  outline: 1px solid white;
  cursor: white;
}
footer .row .newslletter .two_btn button {
  width: 240px;
  height: 48px;
  border-radius: 50px;
  color: black;
  box-shadow: 0 0 0 3em #fff inset;
  border: 1px solid white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.5s;
}
footer .row .newslletter .two_btn button:hover {
  box-shadow: 0 0 0 0 #fff inset;
  background-color: #b61984;
  color: white;
  transition: 0.5s all;
}
footer .row hr {
  width: 25%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1160px) {
  footer .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .row .newslletter {
    padding-left: 0px;
  }
}
@media (max-width: 991.98px) {
  footer .row .about {
    padding-top: 50px;
  }
  footer .row .newslletter {
    padding-top: 50px;
    padding-left: 0px;
  }
  footer .row .newslletter .two_btn input {
    width: 100%;
  }
  footer .row .newslletter .two_btn button {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
