*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;}
body {
    background-image: url(../images/yellow_top_wave_01.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
.clear {
    clear: both;
  }

