.about_us {
  background-image: url(../images/Violet_top_left_wave.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40px;
  .row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    .col-xl-6 {
      z-index: -1;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    img {
      width: 100%;
      z-index: -1;
    }
    h2 {
      font-size: 1.05rem;
      margin-bottom: 0.5em;
      color: #b61984;
      font-weight: 600;
    }
    p {
      font-size: 57px;
      color: #191919;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}
@media (min-width: 1200px) {
  .about_us {
    .container {
      max-width: 1200px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
@media (max-width: 768px) {
  .about_us {
    .container {
      padding-top: 10px;
    }
  }
}
@media (max-width: 1200px) {
  .about_us {
    .row {
      p {
        font-size: 40px;
      }
    }
  }
}
