//css define
.h2_css {
    font-size: 23.25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.span_css {
    font-family: "Roboto",Arial,Helvetica,sans-serif !important;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 2.5;
}
.icon_css {
    font-size: 15px;
}
footer {
    padding-top: 120px;
    padding-bottom: 165px;
    background-image: url(../images/footer_background.jpg);
    background-size: cover;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position:bottom;   
    background-color: rgb(170,1,126);
    .row {
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 150px;
        .contact_us {
            color: white;
            h2 {
               @extend .h2_css;
            }
            .address {
    
                    .icon {
                        @extend .icon_css;
                    }
                    .address_content {
                        span {
                            @extend .span_css;
                        }
                    }
            }
            .phone {
                .icon {
                    @extend .icon_css;
                }
                .phone_number {
                    span {
                        @extend .span_css;
                    }
                }
            }
            .worktime {
                .icon {
                    @extend .icon_css;
                }
                .worktime_content {
                    span {
                        @extend .span_css;
                    }
                }
            }
            .social_media {
                margin-top: 20px;
                .icon {
                    a {
                        color: white;
                        text-decoration: none;
                        transition: 0.3s all;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
        .quick_links {
            color: white;
            h2 {
                @extend .h2_css;
            }
            ul {
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        color: white;
                        @extend .span_css;
                        transition: all 0.3s;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
        .about {
            color: white;
            h2 {
                @extend .h2_css;
            }
            ul {
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        color: white;
                        @extend .span_css;
                        transition: all 0.3s;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .newslletter {
            padding-left: 50px;
            color: white;
            h2 {
                @extend .h2_css;
            }
            .two_btn {
                input {
                    width: 240px;
                    height: 48px;
                    margin-bottom: 15px;
                    border-radius: 50px;
                    background: transparent;
                    border: 1px solid rgba(255,255,255,.1);
                    text-align: center;
                    font-family: "Roboto",Arial,Helvetica,sans-serif !important;
                    font-size: 13.5px;
                    font-weight: 500;
                    &::placeholder {
                        color: white;
                    }    
                    &:focus-visible {
                        border: transparent;
                        outline: 1px solid white;
                        cursor: white;
                    }         
                }
                button {
                    width: 240px;
                    height: 48px;
                    border-radius: 50px;
                    color: black;
                    box-shadow: 0 0 0 3em #fff inset;
                    border: 1px solid white;
                    font-size: .8em;
                    letter-spacing: 1px;
                    font-weight: 600;
                    transition: all 0.5s;
                    &:hover {
                        box-shadow: 0 0 0 0 #fff inset;
                        background-color: #b61984;
                        color: white;
                        transition: 0.5s all;
                    }
                }
            }
        }
        hr {
            width: 25%;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            border: 0;
            border-top: 1px solid rgba(0,0,0,.1);
        }
    } 

}
@media (max-width: 1160px) {
    footer {
        .row {
            padding-left: 10px;
            padding-right: 10px;
                .newslletter {
                    padding-left: 0px;
                }
            }
    }
}

@media (max-width: 991.98px) {
    footer {
        .row {
                .about {
                    padding-top: 50px;
                }
                .newslletter {
                    padding-top: 50px;
                    padding-left: 0px;
                    .two_btn {
                        input {
                            width: 100%;
                        }
                        button {
                            width: 100%;
                        }
                    }
                }
            }
    }
}