.grid {
        padding-top: 10px;
        background-color:  #dcd1f0;
        background-image: url(../images/Wave_White_bottom_right_shape_01.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    .container {
    .row {
        .column-container {
            font-family: "Roboto",Arial,Helvetica,sans-serif;
            text-align: center;
            padding:20px;
            .card_container{
                border-radius: 10px;
                padding-bottom: 10px;
                background-color: white;
                overflow: hidden;
                transition: all 0.5s;
                &:hover {
                    box-shadow: -2px 29px 42px 2px rgba(0, 0, 0, 0.209);
                }
                img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 102%;
                transition: all 0.5s;
                &:hover {
                        transform: scale(105%);
                }
                }
                p:first-of-type{
                    font-weight: 600;  
                    font-size: .75rem;
                    margin-top: 25px;
                    margin-bottom: 0.7em;
                    color: #b61984;
                }
                p:nth-of-type(2){
                    font-weight: 700;
                    font-size: 23.25px;   
                }
                p:nth-of-type(3){
                    font-family: "Roboto",Arial,Helvetica,sans-serif;
                    font-size: 15px; 
                    font-weight: 500;
                    line-height: 1.8em;  
                }
            }
        }
    }
    }
}
@media (min-width: 1200px) {
    .grid{
        .container {
          max-width: 1200px;
          padding-left: 0px;
          padding-right: 0px;
        }
    }
  }