header {
  width: 100%;
  z-index: 5;
}

.header-fixed1 {
  font-size: 13px;

  img {
    width: 80px;
    height: auto;
  }

  .contact_part {
    float: right;
    .contact_btn {
      float: left;
      padding: 1.9rem 0rem;

      a {
        padding: 0.8rem 1.2rem;
        border-radius: 50px;
        border: 2px solid #b61984;
        box-shadow: 0 0 0 3em #b61984 inset;
        color: white;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: all 0.5s;

        &:hover {
          box-shadow: 0 0 0 0 #b61984 inset;
          color: #b61984;
        }
      }
    }

    .icon {
      float: left;
      padding: 1.9rem 0rem;

      a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: #b61984;
        }
      }
    }
  }

  .link {
    float: right;
    position: relative;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding-right: 50px;
        font-weight: 600;
        float: left;
        list-style-type: none;
        position: relative;

        #visible_dot {
          //chỗ này extend hoặc viết riêng cho nav-link
          color: black;
          display: block;
          padding: 2rem 0rem;
          position: relative;
          transition: 0.3s;

          &:hover {
            color: #b61984;
          }

          &::after {
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #b61984;
            position: absolute;
            bottom: -5px;
            left: 40%;
            transition: all 0.3s;
          }

          &:hover::after {
            transform: scale(150%);
          }
        }
      }
    }

    .hidden_dot_1 {
      color: black;
      display: block;
      padding: 2rem 0rem;
      position: relative;
      transition: 0.3s;
      z-index: 2;
      &:hover {
        color: #b61984;
      }
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #b61984;
        position: absolute;
        bottom: -7px;
        left: 40%;
        //tìm cách không sài transform: scale(0)
        transform: scale(0);
        transition: all 0.3s;
      }
      &:hover::after {
        transform: scale(100%);
      }
    }
  }

  #home_content {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px 0 #cccccc;
    position: absolute;
    left: -385%;
    top: 100%;
    font-size: 12px;
    z-index: 1;

    ul {
      z-index: 2;
      width: 230px;

      li {
        padding: 0;

        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-align: left;
          text-decoration: none;
          transition: all 0.3s;
          color: black;

          &:hover {
            color: #b61984;
          }
        }
      }

      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      #special_hr {
        background-color: #b61984;
      }
    }
  }

  #about_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover {
          color: #b61984;
        }
      }
    }
    hr {
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    #highlight {
      color: #b61984;
    }
  }

  #courses_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        &:hover {
          color: #b61984;
        }
      }
    }
    hr {
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  #blog_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    // padding: 15px;
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    li {
      padding: 0;
      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        &:hover {
          color: #b61984;
        }
      }
    }
    hr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 90%;
      margin: 0 auto;
    }
    #single_post {
      position: relative;
      padding: 10px;
      &::after {
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: #b61984;
        position: absolute;
        bottom: 30%;
        left: 90%;
      }
    }
      #gallery_post {
        position: relative;
        &::after {
          display: block;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #b61984;
          position: absolute;
          bottom: 30%;
          left: 90%;
      }
    }
    #single_post_content {
      width: 220px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
      font-size: 12px;
      text-align: left;
      position: absolute;
      top: 0%;
      left: 100%;
      z-index: 1;
      transition: all 0.3s; 
      li {
        padding: 0;  
        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #b61984;
          }
        }
      }
      hr {
      width: 90%;
      margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    #gallery_post_content {
      width: 220px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
      font-size: 12px;
      text-align: left;
      position: absolute;
      top: 0%;
      left: 100%;
      z-index: 1;
      transition: all 0.3s; 
      li {
        padding: 0;  
        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #b61984;
          }
        }
      }
      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  #shop_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover {
          color: #b61984;
        }
      }
    }

    hr {
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  #element_content {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px 0 #cccccc;
    position: absolute;
    left: -311%;
    top: 100%;
    font-size: 12px;
    z-index: 1;
    
    ul {
      width: 230px;
      text-align: right;
      
      li {
        padding: 0;
        
        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;

          &:hover {
            color: #b61984;
          }
        }
      }
      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      #special_hr {
        background-color: #b61984;
      }
    }
  }
}

@media (min-width: 1200px) {
  #header {
    #global-nav {
      visibility: visible!important;
      .container {
        max-width: 1200px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    
  }
}

.navbar {
  padding: 0;
}

.animation_1 {
  animation: zoomIn 0.4s forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(80%);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.animation_2 {
  pointer-events: none;
  animation: zoomOut 0.4s forwards;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(100%);
  }

  100% {
    opacity: 0;
    transform: scale(80%);
  }
}

.remain_visible_dot_size {
  &::after {
    z-index: 2;
    transform: scale(150%);
  }
}

.hidden_dot_2 {
  color: black;
  display: block;
  padding: 2rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
  &:hover {
    color: #b61984;
  }
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b61984;
    position: absolute;
    bottom: -7px;
    left: 40%;
    //tìm cách không sài transform: scale(0)
    transform: scale(100%);
    transition: all 0.3s;
  }
  &:hover::after {
    transform: scale(100%);
  }
}
.hidden_dot_3 {
  color: black;
  display: block;
  padding: 0.9rem 0rem;
  position: relative;
  transition: 0.3s;
  z-index: 2;
  &:hover {
    color: #b61984;
  }
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b61984;
    position: absolute;
    bottom: -7px;
    left: 40%;
    //tìm cách không sài transform: scale(0)
    transform: scale(100%);
    transition: all 0.3s;
  }
  &:hover::after {
    transform: scale(100%);
  }
}

.header-fixed2 {
  width: 100%;
  font-size: 13px;

  img {
    display: none;
  }

  .contact_part {
    float: right;

    .contact_btn {
      float: left;
      padding: 0.9rem 0rem;

      a {
        padding: 0.6rem 1.2rem;
        border-radius: 50px;
        border: 2px solid #b61984;
        box-shadow: 0 0 0 3em #b61984 inset;
        color: white;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: all 0.5s;

        &:hover {
          box-shadow: 0 0 0 0 #b61984 inset;
          color: #b61984;
        }
      }
    }

    .icon {
      float: left;
      padding: 0.9rem 0rem;

      a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: #b61984;
        }
      }
    }
  }

  .link {
    float: right;
    position: relative;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding-right: 50px;
        font-weight: 600;
        float: left;
        list-style-type: none;
        position: relative;

        #visible_dot {
          //chỗ này extend hoặc viết riêng cho nav-link
          color: black;
          display: block;
          padding: 0.9rem 0rem;
          position: relative;
          transition: 0.3s;

          &:hover {
            color: #b61984;
          }

          &::after {
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #b61984;
            position: absolute;
            bottom: -5px;
            left: 40%;
            transition: all 0.3s;
          }

          &:hover::after {
            transform: scale(150%);
          }
        }
      }
    }

    .hidden_dot_1 {
      color: black;
      display: block;
      padding: 0.9rem 0rem;
      position: relative;
      transition: 0.3s;
      z-index: 2;
      &:hover {
        color: #b61984;
      }
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #b61984;
        position: absolute;
        bottom: -7px;
        left: 40%;
        //tìm cách không sài transform: scale(0)
        transform: scale(0);
        transition: all 0.3s;
      }
      &:hover::after {
        transform: scale(100%);
      }
    }
  }

  #home_content {
    display: flex;
;
    background-color: white;
    box-shadow: 0 0 10px 0 #cccccc;
    position: absolute;
    left: -385%;
    top: 100%;
    font-size: 12px;
    z-index: 1;

    ul {
      z-index: 2;
      width: 230px;

      li {
        padding: 0;

        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-align: left;
          text-decoration: none;
          transition: all 0.3s;
          color: black;

          &:hover {
            color: #b61984;
          }
        }
      }

      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      #special_hr {
        background-color: #b61984;
      }
    }
  }

  #about_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover {
          color: #b61984;
        }
      }
    }

    hr {
      width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    #highlight {
      color: #b61984;
    }
  }

  #courses_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover {
          color: #b61984;
        }
      }
    }

    hr {
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  #blog_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    // padding: 15px;
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    li {
      padding: 0;
      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        &:hover {
          color: #b61984;
        }
      }
    }
    hr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 90%;
      margin: 0 auto;
    }
    #single_post {
      position: relative;
      padding: 10px;
      &::after {
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: #b61984;
        position: absolute;
        bottom: 30%;
        left: 90%;
      }
    }
      #gallery_post {
        position: relative;
        &::after {
          display: block;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #b61984;
          position: absolute;
          bottom: 30%;
          left: 90%;
      }
    }
    #single_post_content {
      width: 220px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
      font-size: 12px;
      text-align: left;
      position: absolute;
      top: 0%;
      left: 100%;
      z-index: 1;
      transition: all 0.3s; 
      li {
        padding: 0;  
        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #b61984;
          }
        }
      }
      hr {
      width: 90%;
      margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    #gallery_post_content {
      width: 220px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
      font-size: 12px;
      text-align: left;
      position: absolute;
      top: 0%;
      left: 100%;
      z-index: 1;
      transition: all 0.3s; 
      li {
        padding: 0;  
        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #b61984;
          }
        }
      }
      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  #shop_content {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 50%);
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 1;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover {
          color: #b61984;
        }
      }
    }

    hr {
      width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  #element_content {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px 0 #cccccc;
    position: absolute;
    left: -311%;
    top: 100%;
    font-size: 12px;
    z-index: 1;

    ul {
      width: 230px;
      text-align: right;

      li {
        padding: 0;

        a {
          display: block;
          max-width: 100%;
          max-height: 100%;
          padding: 10px;
          text-decoration: none;
          color: black;
          transition: 0.3s;

          &:hover {
            color: #b61984;
          }
        }
      }

      hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      #special_hr {
        background-color: #b61984;
      }
    }
  }
}

.header_animation_1 {
  animation: move 1s ease-out -.5s;
}

.header_animation_2 {
  animation: move2 1s ease-out -.5s;
  background-color: white;
  box-shadow: 0 0 10px 0 #cccccc;
}

@keyframes move {
  0% {
    transform: translateY(-83.5px);
  }

  80% {
    transform: translateY(-83.5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes move2 {
  0% {
    transform: translateY(-52.3px);
  }

  80% {
    transform: translateY(-52.3px);
  }

  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 1200px) {
  header {
    display: none;
  }
}