
    .request {
        background-image: url(../images/accent_bottom_wave_01.png);
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        .request_container {
            .row {
            margin: 0 auto;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img {
                padding-left: 40px;
                padding-right: 40px;
              img{
                width: 100%;
              }
            }
            .form_container {
                .form_container_content {
                    width: 100%;
                    background-color: white;
                    padding: 25px;
                    border-radius: 10px;
                    box-shadow: -2px 29px 42px 2px rgba(0, 0, 0, 0.209);
                    text-align: center;
                    color:#b61984 ;
                    font-size: 13px;
                    h2 {
                        font-size: 36px;
                        font-family: "Montserrat",Arial,Helvetica,sans-serif;
                        font-weight: 700;
                        color: #191919;
                        margin-bottom: 50px;
                    }
                    .form_information {
                        justify-content: space-between;
                        .name {
                            width: 45%;
                            position: relative;
                            padding: 10px 0px 10px 10px;
                            border-radius: 20px;
                            border: 1px solid rgba(0,0,0,.1);
                            .input {
                                width: 80%;
                                font-family: "Roboto",Arial,Helvetica,sans-serif;
                                input {
                                    width: 100%;
                                    background-color: transparent;
                                    margin-left: 10px;
                                    border: none;
                                    &:focus-visible {
                                        outline: 0;
                                        border: 0;
                                    }
                                    &::placeholder {
                                        font-size: .9em !important;
                                        font-weight: 500;
                                        color: black;
                                        opacity: 0.6;
                                    }
                                } 
                            }
                        }
                        .email {
                            position: relative;
                            padding: 10px 0px 10px 10px;
                            border-radius: 20px;
                            border: 1px solid rgba(0,0,0,.1);
                            .input {
                                font-family: "Roboto",Arial,Helvetica,sans-serif;
                                input {
                                   
                                    background-color: transparent;
                                    margin-left: 10px;
                                    border: none;
                                    opacity: 0.8;
                                    font-weight: 500;
                                    &:focus-within {
                                        outline-width: 0;                              
                                        color: black;
                                                }
                                    &:focus-visible {
                                        outline: 0;
                                        border: 0;
                                    }
                                    &::placeholder {
                                    font-size: .9em !important;                                      
                                            }
                                }               
                            }
                        }
                    }
                    .select {
                        font-family: "Roboto",Arial,Helvetica,sans-serif;
                        margin: 20px 0px;
                        border-radius: 20px;
                        border: 1px solid rgba(0,0,0,.1);
                        padding: 8px 0px 8px 10px;
                        select {
                            width: 100%;
                            background-color: transparent;
                            margin-left: 5px;
                            border: none;
                            cursor: pointer;
                            font-size: .9em !important;
                            font-weight: 500;
                            color:black;
                            opacity: .6;
                            &:focus-visible {
                                outline: 0;
                                border: 0;
                            }
                        }
                    }
                    .message {
                        font-family: "Roboto",Arial,Helvetica,sans-serif;
                        border-radius: 20px;
                        border: 1px solid rgba(0,0,0,.1);
                        padding: 10px 0px 0px 10px;
                        .text_area {
                            width: 85%;
                            textarea{
                                width: 100%;
                                resize: none;
                                background-color: transparent;
                                margin-left: 10px;
                                border-width: 0;
                                &:focus-visible {
                                    outline: 0;
                                    border: 0;
                                }
                                &::placeholder {
                                    font-size: .9em !important;
                                    font-weight: 500;
                                    color: black;
                                    opacity: 0.6;
                                }
                            }                   
                        }
                    }
                    .btnn {
                        float: left;
                        margin: 40px 0px;
                        button {
                            font-family: "Montserrat",Arial,Helvetica,sans-serif;
                            font-weight: 600;
                            cursor: pointer;
                            font-size: 13px;
                            padding: 14px 55px;
                            border-radius: 50px;
                            box-shadow: 0 0 0 3em #b61984 inset;
                            color: white;
                            border: 1px solid #b61984;
                            transition: all 0.5s;
                            &:hover {
                                box-shadow: 0 0 0 0 #b61984 inset;
                                background-color: white;
                                color: #b61984;
                            }
                        }
                    }
                }
            }
            }
        }
    }
@media (min-width: 992px) {
    .request {
        .request_container {
            .row {
                width: 1000px;
            }
        }
    }
}
@media (max-width: 991.98px) {
    .request {
        .row {
            .img {
                padding-bottom: 20px;
                .img-container {
                    img
                    {
                      width: 85%;
                    }
                }

            }
            .form_container {
                .form_container_content {
                    text-align: left!important;
                    h2 {
                        font-size: 32px!important;
                    }
                    .form_information {
                        .name {
                            width: 45%;
                            .input {
                                width: 85%;
                                input {
                                    width: 100%;
                                }
                            }
                           
                        }
                        .email {
                            width: 45%;
                            .input {
                                width: 85%;
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
      
    }
}
